<mat-toolbar>
    <button mat-button routerLink="/" title="Ir al inicio">
        <span class="text-xl">Chaplin</span>
    </button>
    <span class="spacer"></span>
    <button mat-button routerLink="/cortes">Cortes</button>
    <button mat-button [matMenuTriggerFor]="Caja">Caja</button>
    <mat-menu #Caja="matMenu">
        <button mat-menu-item routerLink="/cierreCaja">Cierre de Caja</button>
        <button mat-menu-item routerLink="/recaudacionCaja">Recaudacion Caja</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu">Configuracion</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/servico">Servicios</button>
    </mat-menu>

    <span class="example-spacer"></span>
    <button mat-button (click)="logout()">Cerrar Session</button>
</mat-toolbar>

<div class="md:container md:mx-auto my-8 bg-chaplin rounded-lg shadow-lg">
    <div class="p-4">
        <router-outlet></router-outlet>
    </div>
</div>