<mat-card>
    <mat-card-header [className]="'flex justify-center items-center h-full pt-10'">
        <img [src]="LogoSrc" alt="Logo Chaplin" Width="120" Height="120" loading="lazy"
            [className]="'rounded-full shadow-lg shadow-indigo-500/40'">
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()" [className]="'w-full p-6'">
            <div class="grid grid-cols-1 gap-4">
                <mat-form-field>
                    <mat-label>Usuario</mat-label>
                    <input type="text" matInput formControlName="username">
                    @if (isValid('username')) {
                    <mat-error>*Ingrese un usuario!</mat-error>
                    }
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
                    <button mat-icon-button matSuffix type="button" (click)="clickEvent($event)"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (isValid('password')) {
                    <mat-error>*Ingrese una contraseña!</mat-error>
                    }
                </mat-form-field>

                <div class="button">
                    <button type="submit" mat-flat-button [disabled]="this.form.invalid">Entrar</button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>